//Hero Section
.hero-section {
    video {
        display: block;
        width: 100%;
        height: 80vh;
        object-fit: cover;
        object-position: 50% 60%;
        @include grid-sm-down {
            height: auto;
        }
    }
}

// sign up Popup
.signup-modal {
    .modal-dialog {
        max-width: 670px;

        .modal-body {
            padding: 36px !important;
            padding-top: 0 !important;

            .form-control {
                border-radius: 30px;
            }

            label {
                font-weight: 600;
            }
        }

        .signup-step-2 {
            p {
                font-size: 18px;
                font-weight: 400;
                line-height: 1.5em;
            }
        }
    }
}


.section-hero-banner{
    min-height: 40vh;
    background: var(--bg-img) no-repeat 0 center;
    background-size: cover;
}
